%p
  = form.label :name
  %br
  = form.text_field :name, :class => 'text'
%p
  = form.label :email
  %br
  = form.text_field :email, :class => 'text'
%p
  = form.label :openid_identifier, "OpenID"
  %br
  = form.text_field :openid_identifier, :class => 'text'
