%h1 Editing book

#book-edit

  - form_for(@book, :html => { :multipart => true }) do |form|
    = form.error_messages

    %p
      = form.label :title
      %br
      = form.text_field :title, :class => 'text'
    %p
      = form.label :author
      %br
      = form.text_field :author, :class => 'text'
    %p
      = form.label :copyright, 'Copyright Year'
      %br
      = form.text_field :copyright, :class => 'text short'
    %p
      = form.label :edition
      %br
      = form.text_field :edition, :class => 'text short'
    %p
      = form.label :publisher
      %br
      = form.text_field :publisher, :class => 'text'
    %p
      = form.label :isbn, "ISBN (EAN)"
      %br
      = form.text_field :isbn, :class => 'text'
    %p
      = form.label :asin, "ASIN (Amazon ID)"
      %br
      = form.text_field :asin, :class => 'text'
    %p
      = form.label :cover_uri, "Cover Image"
      %br
      = form.text_field :cover_uri, :class => 'text'
    %p
      = form.label :comment
      %br
      = form.text_area :comment, :class => 'text'
    %p
      = form.label :tag_list, "Tags"
      %br
      = form.text_field :tag_list, :class => 'text'
      %p
        %button(type="Submit" class="alert") Save
        = link_to 'Cancel', @book, :class => 'button'

#book-lookup

  %form#book-lookup-form
    %input#book-lookup-input(type="search" placeholder="Keyword" results="10"){:value => @book.lookup_default}

  %ul#book-lookup-results
