%h2 Book Detail

%table
  %thead
    %tr
      -unless @book.asin.blank?
        %td(rowspan="7")
          = image_tag "http://images.amazon.com/images/P/#{@book.asin}.01.LMZZZZZZ.jpg"
      %th Title
      %td(width="100%")=h @book.title
    %tr
      %th Author
      %td=h @book.author
    %tr
      %th Copyright
      %td=h @book.copyright
    %tr
      %th Edition
      %td=h @book.edition
    %tr
      %th Publisher
      %td=h @book.publisher
    %tr
      %th Uploader
      %td= @book.uploader.try(:name)
    %tr
      %th Download
      %td
        =link_to @book.document_type, @book.document.try(:url)
        %small.quiet= "(#{number_to_human_size(@book.document_file_size)})"

-if @book.uploader == current_user
  %p= link_to "Edit", [:edit, @book]