<p>
  <b>Title:</b>
  <%=h @book.title %>
</p>

<p>
  <b>Author:</b>
  <%=h @book.author %>
</p>

<p>
  <b>Copyright:</b>
  <%=h @book.copyright %>
</p>

<p>
  <b>Edition:</b>
  <%=h @book.edition %>
</p>

<p>
  <b>Publisher:</b>
  <%=h @book.publisher %>
</p>

<p>
  <b>Document:</b>
  <%= link_to @book.document_file_name, @book.document.url %>
</p>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>