%h1 Login

- form_for @user_session, :url => user_session_path do |form|
  = form.error_messages
  %p
    = form.label :openid_identifier, "OpenID"
    = form.text_field :openid_identifier
  %p
    = form.check_box :remember_me
    = form.label :remember_me
  %p= form.submit "Login"

%p= link_to "Register", new_user_path